body{
background-color: yellowgreen;

}
#contact-us-bg {
background-image: url(/pictures/bg-main/main-bg-mobile-4.gif);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;


}

 