html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/rick-morty/pictures/main-bg-mobile/main-bg-mobile-3.jpeg);
  background-size: 100% 95%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
/* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */

}