<<<<<<< HEAD
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
=======
#con{
  max-width: 800px;
  
  
>>>>>>> 6a076918981c0e296ea3add293fb659ed0da1725
}


<<<<<<< HEAD
=======
.container-fluid .container{ max-width: 800px;};
>>>>>>> 6a076918981c0e296ea3add293fb659ed0da1725

